@import "tailwindcss";

@theme {
    --color-brand-primary: #f7941d;
    --color-brand-primary-dark: #d97800;

    --color-brand-dark: #333333;
    --color-brand-charcoal: #242424;

    --color-brand-white: #ffffff;
    --color-brand-light: #f7f7f7;
    --color-brand-muted: #6b6b6b;

    --color-brand-accent: #f7941d;

    /* Global font */
    --font-sans: "Woodford Pro", sans-serif;
}

html,
body {
    font-family: "Woodford Pro", sans-serif;
}

button,
input,
textarea,
select {
    font: inherit;
}